.about-page{
    cursor: url("../../../assets/images/baby-dragon-32x32.png"), auto;
    font-family: 'Roboto', sans-serif;
}

.about-page.dark{
    background-color: rgb(197, 191, 191);
}

.about-profile{
min-width: 150px;
max-width: 150px;
border-radius: 100px;
margin-left:20%;

}

.about-main-title{ 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding: 5vh 0 0 10%;
    height: 2.5rem;
    margin:0;
}
.about-main-title > span{
    color:#A668CF;
    text-shadow: 5px 5px 20px #A668CF;
}

.about-main-title > span:hover{
    font-family:'Pacifico', cursive;
    color:#A668CF;
   text-shadow: 3px 3px 5px #d297fd, -1px -1px 2px rgba(255, 255, 255, 0.4);
   margin:0 5px;

}

.about-paragraphs{
    font-size: 1;
    font-weight:500;
    line-height: 2rem;
    margin:0 10%;
    text-indent: 2rem;
    letter-spacing: 2px;
}
.about-paragraphs>p{
    margin:0;
}

em {
    font-style: normal;
    font-weight: 700;
    color:#894bb2;
    text-shadow: 0 3px 3px rgba(190, 183, 183, 0.687);
    font-size: 1.2rem;
    background-color:#a079be84;
    border-radius: 5px;
    padding: 0 2px;
}

em:hover {
    background-color:#ad93bf62;
}
@media(min-width:430px){
    .about-profile{
        float:left;
        margin: 1rem  1rem 1rem 10%;
        max-width:20%;
    }
}