.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    height: 8vh;
    cursor: url("../../../assets/images/baby-dragon-32x32.png"), auto;
}
.logo{
    font-family:'Pacifico', cursive;
    color:#A668CF;
   text-shadow: 3px 3px 5px #d297fd, -1px -1px 2px rgba(255, 255, 255, 0.4);
   margin:0 5px;
  
}
.logo-highlight{
    text-shadow: 3px 3px 5px #d297fd, -1px -1px 2px rgb(161, 152, 179);
}

.navbar-links.visible{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display:block;
    position:absolute;
    top:6vh;
    background-color: rgb(253, 246, 246);
    width:100%;
    z-index:999;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0 20px 40px;
    cursor: pointer;

}
.navbar-links.hidden{
    display: none;
}

.navbar-links a{
    text-decoration: none;
    font-weight: 600;
    font-size:1.3rem;
    color:rgb(27, 3, 27);
}
.navbar-links a:hover{
    color:#A668CF;
}

.hamburger-menu{
    height:2.5rem;
    width:2.5rem;
    position:relative;
    padding: 0;
    border:2px solid #B880E0;
    border-radius:4px;
    cursor: pointer;
}

.bars,
.bars::before,
.bars::after{
    background-color: #A668CF;
    width:100%;
    height:4px;
    border-radius: 10px;
}

.bars::before,
.bars::after{
    content:'';
    display: block;
    position:absolute;
}
.bars::before{
    top:7px;
}
.bars::after{
    bottom: 7px;
}

.bars.open {
    background-color: transparent;
    
  }
 
  .bars.open::before {
    transform: translateY(9px) rotate(45deg);
  }
  
  .bars.open::after {
    transform: translateY(-10px) rotate(-45deg);
  }

.fa-lightbulb{
    font-size: 2rem;
}

@media (min-width:768px){
    .hamburger-menu{
        display: none;
    }
    .navbar-links.visible,
    .navbar-links.hidden{
        list-style: none;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position:static;
        background-color: white;
        width:50%;
    }
  
}